body{
    background-color: rgb(227, 20, 217);

    transform: rotate(30deg); /* Standard syntax */
    display:flex;    
    box-shadow: 0px 0px 0px 3px #ff6e28, 0px 0px 0px 7px rgba(255, 110, 40, 0.5) !important;

    ::placeholder {
        color: rgb(221, 21, 21);
      }

}